@model ProjectDto;

<div class="row">
    <div class="col-2">
        <button class="btn btn-danger" onclick="$('#removeProject').modal('show')">Remove Project</button>
    </div>
        @if (!Model?.IsComplited ?? true)
        {
        <div class="col-2">
            <button class="btn btn-danger" onclick="$('#completeProject').modal('show')">Complete Project</button>
        </div>
        }

    <div class="col-2">
        @if (!Model?.IsComplited ?? true)
        {
            <button class="btn btn-primary" onclick="$('#myModal').modal('show');">Add Time</button>
        }
    </div>
    <div class="col-4">Status: 
        @if (Model?.IsComplited ?? false)
        {
            <span>Complited </span>
            ;
        }
        else
        {
            <span>Not Comlited</span>;
        }

        <div class="row">
            <div class="col-4"></div>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            Begining date: @Model?.DateStarted
        </div>
        <div class="col-4">
            End date: @Model?.DateEnd
        </div>
        <div class="col-4">
            Total time: @Model?.TotalTimePassed
        </div>
    </div>

    <br /><br>
    <input type="hidden" id="endDatePrj" name="endDatePrj" value="@Model.DateEnd" />
    @if (@Model != null)
    {
        @foreach (var r in Model?.TrackingTimes)
        {
            <div class="row">
                <div class="col-4 border">
                    @r.TimeTrackerName
                </div>
                <div class="col-8 border">
                    @r.TakenTime min
                </div>

            </div>
        }
    }

    
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Project Time Name</span>
                <input type="text" id="projectName" />
            </div>
            <div class="modal-body">
                <span>Time</span>
                <input type="number" id="projectTime" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addTime" onclick="addTrackingTime()">Add time</button>
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="addProject" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Project</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Project Name</span>
                <input type="text" id="projectAddName" />
            </div>
            <div class="modal-body">
               <span>Begin date</span>
                <input type="datetime" id="beginDate" />
            </div>
            <div class="modal-body">
                <span>End date</span>
                <input type="datetime" id="endDate" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addTime" onclick="addProject()">Add Project</button>
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="removeProject" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Project</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Are you sure want to remove project?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addTime" onclick="removeProject()">Remove Project</button>
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="completeProject" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Project</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Are you sure want to complete project?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addTime" onclick="completeProject()">Complete Project</button>
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    // function addTrackingTime(){
    //     ("tTest");
    //     const project = $('#projects').find(":selected").val();
    //     const projectName = $("#projectName").val();
    //     const projectTime = $("#projectTime").val();
        
    //     if (projectTime < 15){
    //         alert("Project time shold be more than 15");
    //         return;
    //     }
    //     const endTime = new Date($('#endDatePrj').val());
    //     const dateNow = new Date();
    //     if (dateNow > endTime)
    //         alert("There is end time date");

    //     console.log("test");
    //     $.post("/tracker/AddTrackingTime",
    //             {
    //             TimeTrackerName: projectName,
    //                 TakenTime: projectTime,
    //                 ProjectId: project
    //             },
    //             function (data, status) {
    //                 alert("Data: " + data + "\nStatus: " + status);
    //             window.location.reload();
    //                 testChange();;

    //             });    
    //     $("#projects").load("/Tracker/GetProjects");
    //     $("#projectName").val("");
    //     $("#projectTime").val("");
    //     $("#myModal .close").click();
    // }

    // function addProject() {
    //     const projectName = $("#projectAddName").val();
    //     const beginDateString = $("#beginDate").val();
    //     const endDateString = $("#endDate").val();

    //     $.post("/tracker/AddProject",
    //         {
    //             ProjectName: projectName,
    //             DateStartedString: beginDateString,
    //             DateEndString: endDateString
    //         },
    //         function (data, status) {
    //             window.location.reload();
    //         });
    //     alert("tTest");

    //     $("#projects").load("/Tracker/GetProjects");
    //     $("#projectAddName").val("");
    //     $("#beginDate").val("");
    //     $("#endDate").val("");
    //     $("#addProject .close").click();
    //     window.location.reload();
    // }


    // function removeProject() {
    //     ("tTest");
    //     const project = $('#projects').find(":selected").val();

    //     $.post("/tracker/RemoveProject",
    //         {
    //             ProjectId: project,
    //         },
    //         function (data, status) {
    //             alert("Data: " + data + "\nStatus: " + status);
    //             window.location.reload();
    //         });
    //     $("#projects").load("/Tracker/GetProjects");
    //     $("#removeProject .close").click();
    //     window.location.reload();

    // }

    // function completeProject() {
    //     ("tTest");
    //     const project = $('#projects').find(":selected").val();

    //     console.log(project);
    //     console.log("test");
    //     $.post("/tracker/CompleteProject",
    //         {
    //             ProjectId: project,
    //         },
    //         function (data, status) {
    //             window.location.reload();
    //             alert("Data: " + data + "\nStatus: " + status);
    //         });
    //     $("#projects").load("/Tracker/GetProjects");
    //     $("#completeProject .close").click();
    //     window.location.reload();

    // }
</script>